p {
  color: maroon;
  font-size: larger;
};

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(49, 101, 197);
  font-size: 16px;
  padding: 0;
  margin: 0;
  min-width: 360px;
};

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  @media(max-width:1440px) {
    width: 1280px;
    min-width: 1280px;
  }
  @media(max-width:1280px) {
    width: 976px;
    min-width: 976px;
  }
  @media(max-width:976px) {
    width: 768px;
    min-width: 768px;
  }
  @media(max-width:768px) {
    width: 360px;
    min-width: 360px;
  }
};

// header
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  background-color: rgb(49, 101, 197);
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo {
      a {
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: white;
        &:hover {
          color: rgb(51, 243, 217);
        }
      }
    }
    .navigation {
      nav {
        a {
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 1.75px;
          text-transform: uppercase;
          font-size: 0.75em;
          color: white;
          &:last-child {
            margin-right: 0px;
          }
          &:hover {
            color: rgb(51, 243, 217);
          }
        }
      }
    };
  }
}

// banner
.banner {
  display: flex;
  align-items: center;
  background-color: rgb(49, 101, 197);
  position: relative;
  height: 100vh;
  .row {
    position: relative;
    .main-text {
      font-size: 5.8rem;
      text-transform: uppercase;
      letter-spacing: 42px;
      font-weight: 700;
      color: white;
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      mix-blend-mode: difference;
      z-index: 9;
      @media(max-width:976px) {
        font-size: 3rem;
      }
      @media(max-width:768px) {
        font-size: 1.5rem;
        letter-spacing: 10px;
        font-weight: 500;
        min-width: 360px;
      }
    }
  }
  .fixed-contacts {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    bottom: 50%;
    left: 40px;
    z-index: 8;
    @media(max-width:976px) {
      display: none;
    }
  }
  .fixed-email {
    position: fixed;
    bottom: 50%;
    right: -30px;
    transform: rotate(90deg);
    font-weight: 500;
    text-transform: lowercase;
    z-index: 8;
    @media(max-width:976px) {
      display: none;
    }
  }
  a {
    text-decoration: none;
    letter-spacing: 1.75px;
    color: rgb(182, 181, 181);
    &:hover {
      color: rgb(51, 243, 217);
      transform: translateY(-5px);
    }
  }
}