$black: rgb(34, 40, 49);
$dark: rgb(57, 62, 70);
$teal: rgb(0, 173, 181);
$grey: rgb(133, 131, 131);
$white: rgb(238, 238, 238);

p {
  color: maroon;
  font-size: larger;
};

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $black;
  font-size: 16px;
  padding: 0;
  margin: 0;
  min-width: 360px;
};

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  @media(max-width:1440px) {
    width: 1280px;
    min-width: 1280px;
  }
  @media(max-width:1280px) {
    width: 976px;
    min-width: 976px;
  }
  @media(max-width:976px) {
    width: 768px;
    min-width: 768px;
  }
  @media(max-width:768px) {
    width: 360px;
    min-width: 360px;
  }
};

.main-text {
  width: 70%;
  font-size: 2rem;
  top: 50%;
  margin: auto;
  padding: 4em 0;
  text-align: left;
  z-index: 8;
}

// header
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  background-color: $dark;
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo {
      a {
        padding: 0.5em;
        border: 0.5px solid $teal;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: $teal;
        &:hover {
          background-color: $black;
        }
      }
    }
    .navigation {
      nav {
        a {
          padding: 0.5em;
          border: 0.5px solid transparent;
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 1.75px;
          text-transform: uppercase;
          font-size: 0.75em;
          color: $white;
          svg {
            color:$teal;
          };
          &:last-child {
            margin-right: 0px;
          };
          &:hover {
            color: $teal;
          };
          &:active {
            border: 0.5px solid $teal;
          };
        }
      }
    };
  }
}

// banner
.banner {
  display: flex;
  align-items: center;
  background-color: $black;
  position: relative;
  height: 100vh;
  .main-text {
    font-size: 2rem;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 8;
    .text-header {
      color: $white;
      font-size: 3rem;
    }
    .text-name {
      color: $teal;
      font-size: 5.2rem;
    }
    .text-about {
      color: $grey;
      font-size: 4rem;
    }
    @media(max-width:976px) {
      .text-header {
        font-size: 2rem;
      }
      .text-name {
        font-size: 4rem;
      }
      .text-about {
        font-size: 3rem;
      }
    }
  }
  .fixed-contacts {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
    top: 40%;
    left: 40px;
    z-index: 10;
    a {
      margin-bottom: 30px;
      text-decoration: none;
      letter-spacing: 1.75px;
      color: $grey;
      &:hover {
        color: $teal;
        transform: translateY(-5px);
      }
    }
    @media(max-width:976px) {
      left: 25px;
    }
    @media(max-width:768px) {
      display: none;
    }
  }
  .fixed-email {
    position: fixed;
    padding: 0.5em;
    top: 50%;
    right: -70px;
    color: $grey;
    border: 0.5px solid transparent;
    font-size: 20px;
    letter-spacing: 1.75px;
    transform: rotate(90deg);
    z-index: 10;
    &:hover {
      color: $teal;
      transform: rotate(90deg) translateX(-5px);
    }
    &:active {
      border: 0.5px solid $teal;
    }
    a {
      text-decoration: none;
      color: $grey;
      &:hover {
        color: $teal;
      }
    }
    @media(max-width:976px) {
      right: -80px;
    }
    @media(max-width:768px) {
      display: none;
    }
  }
}

.about {
  .text-header {
    color: $teal;
    font-size: 2.5rem;
  }
  .text-about {
    padding-top: 2em;
    color: $grey;
    font-size: 1.5rem;
  }
  @media(max-width:976px) {
    .text-header {
      font-size: 1rem;
    }
    .text-about {
      font-size: 0.5rem;
    }
  }
}