.topNav {
  background-color: aqua;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  .nav-item {
    padding-right: 2rem;
  }

  .nav-link {
    color: inherit;
    text-decoration: inherit;
  }
}